
.ipynb_checkpoints/Ch01-04-checkpoint.ipynb

.ipynb_checkpoints/String manipulation solution-checkpoint.ipynb

.ipynb_checkpoints/String manipulation-checkpoint.ipynb

.ipynb_checkpoints/Ch05-07-checkpoint.ipynb

.ipynb_checkpoints/Ch08-10-checkpoint.ipynb

.ipynb_checkpoints/Ch11-12-checkpoint.ipynb

.ipynb_checkpoints/NER-checkpoint.ipynb

.ipynb_checkpoints/Parsing structured data solution-checkpoint.ipynb

.ipynb_checkpoints/Parsing structured data-checkpoint.ipynb
